body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 20px 0;
  }
  
  .my-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .my-button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button[type="button"]:hover {
    background-color: #0062cc;
  }
  
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  .value {
    font-size: 48px;
    font-weight: bold;
  }
  
  .label {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  